[Desktop Entry]
Version=1.0
Type=Application
Name=Popcorn Time
Comment=Lanuch Popcorn Time
Exec=./launch
Icon=/home/kanuraj/Pictures/.misc/icon3.png
Path=/media/kanuraj/New Volume/Torrent/Completed/Popcorn Time
Terminal=true
StartupNotify=false
