[Desktop Entry]
Version=1.0
Type=Application
Name=Assault Cube
Comment=Play Assault Cube
Exec=assaultcube
Icon=assaultcube
Path=
Terminal=false
StartupNotify=false
