[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[168E4EE98E4EC0CB]
row=5
col=20

[3C74F0AF74F06CD0]
row=3
col=20

[EA623EF6623EC75B]
row=4
col=20

[Trash]
row=6
col=20

[/]
row=7
col=20

[/home/kanuraj]
row=8
col=20

