[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/guidelines_instruction.pdf]
row=0
col=0

[/home/kanuraj/Desktop/menlo.zip]
row=1
col=0

[/home/kanuraj/Desktop/halflife_full_nonsteam.exe]
row=2
col=0

