[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/videoplayback]
row=8
col=0

[/home/kanuraj/Desktop/FINAL FOR PRINT LEASE DEED ATUL MARWAH IRISH .docx]
row=0
col=1

[/home/kanuraj/Desktop/70 KHAN MARKET FINAL.docx]
row=1
col=1

[/home/kanuraj/Desktop/detective.conan.91]
row=7
col=0

[/home/kanuraj/Desktop/detective.conan.92]
row=6
col=0

[168E4EE98E4EC0CB]
row=2
col=0

[3C74F0AF74F06CD0]
row=0
col=0

[EA623EF6623EC75B]
row=1
col=0

[Trash]
row=3
col=0

[/]
row=4
col=0

[/home/kanuraj]
row=5
col=0

