[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/Bitwig Studio v1.3.14]
row=0
col=0

[/home/kanuraj/Desktop/activation-request.bwregrequest]
row=0
col=0

[/home/kanuraj/Desktop/__MACOSX]
row=0
col=0

[/home/kanuraj/Desktop/response.bwreg]
row=0
col=0

