[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/Google Chrome.desktop]
row=6
col=0

[168E4EE98E4EC0CB]
row=6
col=29

[3C74F0AF74F06CD0]
row=4
col=29

[EA623EF6623EC75B]
row=5
col=29

[Trash]
row=7
col=29

[/]
row=0
col=0

[/home/kanuraj]
row=3
col=29

