[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/reg]
row=0
col=0

[/home/kanuraj/Desktop/nsx2-0.08.1-win32.zip]
row=1
col=0

[/home/kanuraj/Desktop/f96c12d3-0e83-43e3-900c-f7a42d22487ehh.jpg]
row=2
col=0

[/home/kanuraj/Desktop/f96c12d3-0e83-43e3-900c-f7a42d22487e.jpg]
row=3
col=0

[/home/kanuraj/Desktop/f96c12d3-0e83-43e3-900c-f7a42d22487eggttt.jpg]
row=4
col=0

