[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/Final.png]
row=2
col=0

[/home/kanuraj/Desktop/Screenshot from 2017-06-12 17-52-14.png]
row=3
col=0

[/home/kanuraj/Desktop/g.png]
row=0
col=0

[/home/kanuraj/Desktop/Final.xcf]
row=4
col=0

[/home/kanuraj/Desktop/VaraIcon.xcf]
row=1
col=0

