[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[168E4EE98E4EC0CB]
row=3
col=0

[3C74F0AF74F06CD0]
row=5
col=0

[EA623EF6623EC75B]
row=4
col=0

[Trash]
row=1
col=0

[/]
row=0
col=0

[/home/kanuraj]
row=2
col=0

