[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/kanuraj/Desktop/TrueCombat11Full.zip]
row=1
col=0

[/home/kanuraj/Desktop/f]
row=0
col=0

[/home/kanuraj/Desktop/AssaultCube_v1.2.0.2.tar.bz2]
row=2
col=0

[/home/kanuraj/Desktop/assa]
row=3
col=0

